<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.GoodsMapper">
  <resultMap id="BaseResultMap" type="com.entity.Goods">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="fid" jdbcType="INTEGER" property="fid" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="upload" jdbcType="VARCHAR" property="upload" />
    <result column="znum" jdbcType="INTEGER" property="znum" />
    <result column="zyid" jdbcType="INTEGER" property="zyid" />
    <result column="stime" jdbcType="VARCHAR" property="stime" />
    <result column="etime" jdbcType="VARCHAR" property="etime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="hit" jdbcType="INTEGER" property="hit" />
    <result column="pubtime" jdbcType="VARCHAR" property="pubtime" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="age" jdbcType="VARCHAR" property="age" />
    <result column="shenggao" jdbcType="VARCHAR" property="shenggao" />
    <result column="saddr" jdbcType="VARCHAR" property="saddr" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.entity.Goods">
    <result column="note" jdbcType="LONGVARCHAR" property="note" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, img, fid, uid, upload, znum, zyid, stime, etime, status, hit, pubtime, 
    sex, age, shenggao, saddr
  </sql>
  <sql id="Blob_Column_List">
    note
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from goods
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from goods
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Goods">
    insert into goods (id, name, img, 
      fid, uid, upload, znum, 
      zyid, stime, etime, 
      status, hit, pubtime, 
      sex, age, shenggao, 
      saddr, note)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{img,jdbcType=VARCHAR}, 
      #{fid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{upload,jdbcType=VARCHAR}, #{znum,jdbcType=INTEGER}, 
      #{zyid,jdbcType=INTEGER}, #{stime,jdbcType=VARCHAR}, #{etime,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{hit,jdbcType=INTEGER}, #{pubtime,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{age,jdbcType=VARCHAR}, #{shenggao,jdbcType=VARCHAR}, 
      #{saddr,jdbcType=VARCHAR}, #{note,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Goods">
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="img != null">
        img,
      </if>
      <if test="fid != null">
        fid,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="upload != null">
        upload,
      </if>
      <if test="znum != null">
        znum,
      </if>
      <if test="zyid != null">
        zyid,
      </if>
      <if test="stime != null">
        stime,
      </if>
      <if test="etime != null">
        etime,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="hit != null">
        hit,
      </if>
      <if test="pubtime != null">
        pubtime,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="shenggao != null">
        shenggao,
      </if>
      <if test="saddr != null">
        saddr,
      </if>
      <if test="note != null">
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="img != null">
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="fid != null">
        #{fid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="upload != null">
        #{upload,jdbcType=VARCHAR},
      </if>
      <if test="znum != null">
        #{znum,jdbcType=INTEGER},
      </if>
      <if test="zyid != null">
        #{zyid,jdbcType=INTEGER},
      </if>
      <if test="stime != null">
        #{stime,jdbcType=VARCHAR},
      </if>
      <if test="etime != null">
        #{etime,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="hit != null">
        #{hit,jdbcType=INTEGER},
      </if>
      <if test="pubtime != null">
        #{pubtime,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=VARCHAR},
      </if>
      <if test="shenggao != null">
        #{shenggao,jdbcType=VARCHAR},
      </if>
      <if test="saddr != null">
        #{saddr,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        #{note,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Goods">
    update goods
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="img != null">
        img = #{img,jdbcType=VARCHAR},
      </if>
      <if test="fid != null">
        fid = #{fid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="upload != null">
        upload = #{upload,jdbcType=VARCHAR},
      </if>
      <if test="znum != null">
        znum = #{znum,jdbcType=INTEGER},
      </if>
      <if test="zyid != null">
        zyid = #{zyid,jdbcType=INTEGER},
      </if>
      <if test="stime != null">
        stime = #{stime,jdbcType=VARCHAR},
      </if>
      <if test="etime != null">
        etime = #{etime,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="hit != null">
        hit = #{hit,jdbcType=INTEGER},
      </if>
      <if test="pubtime != null">
        pubtime = #{pubtime,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=VARCHAR},
      </if>
      <if test="shenggao != null">
        shenggao = #{shenggao,jdbcType=VARCHAR},
      </if>
      <if test="saddr != null">
        saddr = #{saddr,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.entity.Goods">
    update goods
    set name = #{name,jdbcType=VARCHAR},
      img = #{img,jdbcType=VARCHAR},
      fid = #{fid,jdbcType=INTEGER},
      uid = #{uid,jdbcType=INTEGER},
      upload = #{upload,jdbcType=VARCHAR},
      znum = #{znum,jdbcType=INTEGER},
      zyid = #{zyid,jdbcType=INTEGER},
      stime = #{stime,jdbcType=VARCHAR},
      etime = #{etime,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      hit = #{hit,jdbcType=INTEGER},
      pubtime = #{pubtime,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      age = #{age,jdbcType=VARCHAR},
      shenggao = #{shenggao,jdbcType=VARCHAR},
      saddr = #{saddr,jdbcType=VARCHAR},
      note = #{note,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.Goods">
    update goods
    set name = #{name,jdbcType=VARCHAR},
      img = #{img,jdbcType=VARCHAR},
      fid = #{fid,jdbcType=INTEGER},
      uid = #{uid,jdbcType=INTEGER},
      upload = #{upload,jdbcType=VARCHAR},
      znum = #{znum,jdbcType=INTEGER},
      zyid = #{zyid,jdbcType=INTEGER},
      stime = #{stime,jdbcType=VARCHAR},
      etime = #{etime,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      hit = #{hit,jdbcType=INTEGER},
      pubtime = #{pubtime,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      age = #{age,jdbcType=VARCHAR},
      shenggao = #{shenggao,jdbcType=VARCHAR},
      saddr = #{saddr,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  

  

	<select id="getCount" parameterType="java.util.Map" resultType="int">
		select count(*) from goods where 1=1
		<if test="name != null">
			and name like concat('%',#{name,jdbcType=VARCHAR},'%')
		</if>
		<if test="fid != null">
			and fid = #{fid,jdbcType=INTEGER}
		</if>
        <if test="uid != null">
            and uid = #{uid,jdbcType=INTEGER}
        </if>
        <if test="zyid != null">
            and zyid = #{zyid,jdbcType=INTEGER}
        </if>
		<if test="status!=null ">
			and status like concat('%',#{status,jdbcType=VARCHAR},'%')
		</if>
        <if test="upload!=null ">
            and upload = #{upload,jdbcType=VARCHAR}
        </if>

	</select>
	<select id="getAll" parameterType="java.util.Map" resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from goods where 1=1
        <if test="name != null">
            and name like concat('%',#{name,jdbcType=VARCHAR},'%')
        </if>
        <if test="fid != null">
            and fid = #{fid,jdbcType=INTEGER}
        </if>
        <if test="zyid != null">
            and zyid = #{zyid,jdbcType=INTEGER}
        </if>
        <if test="uid != null">
            and uid = #{uid,jdbcType=INTEGER}
        </if>
        <if test="status!=null ">
            and status like concat('%',#{status,jdbcType=VARCHAR},'%')
        </if>
        <if test="upload!=null ">
            and upload = #{upload,jdbcType=VARCHAR}
        </if>
		order by pubtime desc
	</select>
	<select id="getByPage" parameterType="java.util.Map" resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from goods where 1=1

        <if test="name != null">
            and name like concat('%',#{name,jdbcType=VARCHAR},'%')
        </if>
        <if test="fid != null">
            and fid = #{fid,jdbcType=INTEGER}
        </if>
        <if test="uid != null">
            and uid = #{uid,jdbcType=INTEGER}
        </if>
        <if test="zyid != null">
            and zyid = #{zyid,jdbcType=INTEGER}
        </if>
        <if test="status!=null ">
            and status like concat('%',#{status,jdbcType=VARCHAR},'%')
        </if>
        <if test="upload!=null ">
            and upload = #{upload,jdbcType=VARCHAR}
        </if>
		order by pubtime desc
		<if test="pageno!=null and pageSize!=null">
			limit #{pageno},#{pageSize}
		</if>
	</select>
	
	
	
	<select id="getTop" parameterType="java.util.Map" resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from goods where 1=1
		<if test="name != null">
			and name like concat('%',#{name,jdbcType=VARCHAR},'%')
		</if>
		<if test="tid != null">
			and tid = #{tid,jdbcType=INTEGER}
		</if>
        <if test="status!=null ">
            and status like concat('%',#{status,jdbcType=VARCHAR},'%')
        </if>
        <if test="upload!=null ">
            and upload = #{upload,jdbcType=VARCHAR}
        </if>
		order by znum desc

        limit 0,5
	</select>

</mapper>