<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.RecordMapper">
  <resultMap id="BaseResultMap" type="com.entity.Record">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="tid" jdbcType="INTEGER" property="tid" />
    <result column="fid" jdbcType="INTEGER" property="fid" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="sum" jdbcType="INTEGER" property="sum" />
    <result column="isdel" jdbcType="VARCHAR" property="isdel" />
    <result column="pubtime" jdbcType="VARCHAR" property="pubtime" />
    <result column="gtype" jdbcType="VARCHAR" property="gtype" />
    <result column="etime" jdbcType="VARCHAR" property="etime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uid, tid, fid, status, sum, isdel, pubtime, gtype, etime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Record">
    insert into record (id, uid, tid, 
      fid, status, sum, isdel, 
      pubtime, gtype, etime
      )
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{tid,jdbcType=INTEGER}, 
      #{fid,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}, #{sum,jdbcType=INTEGER}, #{isdel,jdbcType=VARCHAR}, 
      #{pubtime,jdbcType=VARCHAR}, #{gtype,jdbcType=VARCHAR}, #{etime,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Record">
    insert into record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="tid != null">
        tid,
      </if>
      <if test="fid != null">
        fid,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="sum != null">
        sum,
      </if>
      <if test="isdel != null">
        isdel,
      </if>
      <if test="pubtime != null">
        pubtime,
      </if>
      <if test="gtype != null">
        gtype,
      </if>
      <if test="etime != null">
        etime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="tid != null">
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="fid != null">
        #{fid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="sum != null">
        #{sum,jdbcType=INTEGER},
      </if>
      <if test="isdel != null">
        #{isdel,jdbcType=VARCHAR},
      </if>
      <if test="pubtime != null">
        #{pubtime,jdbcType=VARCHAR},
      </if>
      <if test="gtype != null">
        #{gtype,jdbcType=VARCHAR},
      </if>
      <if test="etime != null">
        #{etime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Record">
    update record
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="tid != null">
        tid = #{tid,jdbcType=INTEGER},
      </if>
      <if test="fid != null">
        fid = #{fid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="sum != null">
        sum = #{sum,jdbcType=INTEGER},
      </if>
      <if test="isdel != null">
        isdel = #{isdel,jdbcType=VARCHAR},
      </if>
      <if test="pubtime != null">
        pubtime = #{pubtime,jdbcType=VARCHAR},
      </if>
      <if test="gtype != null">
        gtype = #{gtype,jdbcType=VARCHAR},
      </if>
      <if test="etime != null">
        etime = #{etime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.Record">
    update record
    set uid = #{uid,jdbcType=INTEGER},
      tid = #{tid,jdbcType=INTEGER},
      fid = #{fid,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      sum = #{sum,jdbcType=INTEGER},
      isdel = #{isdel,jdbcType=VARCHAR},
      pubtime = #{pubtime,jdbcType=VARCHAR},
      gtype = #{gtype,jdbcType=VARCHAR},
      etime = #{etime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
 
  
  <select id="getCount" parameterType="java.util.Map" resultType="int">
    select  count(*) from record  where 1=1 
    <if test="gtype != null">
      and  gtype like concat('%',#{gtype,jdbcType=VARCHAR},'%') 
      </if>
      <if test="uid != null">
        and uid = #{uid,jdbcType=INTEGER}
      </if>
      <if test="fid != null">
        and fid = #{fid,jdbcType=INTEGER}
      </if>
      <if test="tid != null">
       and tid = #{tid,jdbcType=INTEGER}
      </if>
      <if test="status!=null ">
      and status like  concat('%',#{status,jdbcType=VARCHAR},'%')
     </if>
      <if test="isdel!=null ">
     and isdel=#{isdel,jdbcType=VARCHAR}
     </if>
  </select>
  <select id="getAll" parameterType="java.util.Map" resultMap="BaseResultMap">
    select   
    <include refid="Base_Column_List" />
     from record where 1=1
      <if test="gtype != null">
      and  gtype like concat('%',#{gtype,jdbcType=VARCHAR},'%') 
      </if>
      <if test="uid != null">
        and uid = #{uid,jdbcType=INTEGER}
      </if>
      <if test="fid != null">
        and fid = #{fid,jdbcType=INTEGER}
      </if>
      <if test="tid != null">
       and tid = #{tid,jdbcType=INTEGER}
      </if>
      <if test="status!=null ">
      and status like  concat('%',#{status,jdbcType=VARCHAR},'%')
     </if>
      <if test="isdel!=null ">
     and isdel=#{isdel,jdbcType=VARCHAR}
     </if>
     order by pubtime desc
  </select> 
   <select id="getByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
     select 
     <include refid="Base_Column_List" />
    from record  where 1=1
    
      <if test="gtype != null">
      and  gtype like concat('%',#{gtype,jdbcType=VARCHAR},'%') 
      </if>
      <if test="uid != null">
        and uid = #{uid,jdbcType=INTEGER}
      </if>
      <if test="fid != null">
        and fid = #{fid,jdbcType=INTEGER}
      </if>
      <if test="tid != null">
       and tid = #{tid,jdbcType=INTEGER}
      </if>
      <if test="status!=null ">
      and status like  concat('%',#{status,jdbcType=VARCHAR},'%')
     </if>
      <if test="isdel!=null ">
     and isdel=#{isdel,jdbcType=VARCHAR}
     </if>
     order by pubtime desc
     <if test="pageno!=null and pageSize!=null">
     limit #{pageno},#{pageSize}
     </if>
     </select>
     
     
     
     
     <select id="getRecommend" parameterType="java.util.Map" resultMap="BaseResultMap">
    select   
    <include refid="Base_Column_List" />
     from record where 1=1
      <if test="uid != null">
        and uid = #{uid,jdbcType=INTEGER}
      </if>
      <if test="fid != null">
        and fid = #{fid,jdbcType=INTEGER}
      </if>
      <if test="tid != null">
       and tid = #{tid,jdbcType=INTEGER}
      </if>
      <if test="status!=null ">
      and status like  concat('%',#{status,jdbcType=VARCHAR},'%')
     </if>
      <if test="isdel!=null ">
     and isdel=#{isdel,jdbcType=VARCHAR}
     </if>
     order by sum desc
  </select> 
</mapper>